n8n-workflows/1-user-data-export.json
{
  "name": "Kullanıcı Veri Export",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manuel Tetikleme",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_API_URL}}/users/list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convexApi",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Convex - Kullanıcı Listesi Al",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Convex API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kullanıcı verilerini formatla\nconst users = $input.all()[0].json.documents || [];\n\nconst formatted = users.map(user => ({\n  'ID': user._id,\n  'Ad Soyad': user.name,\n  'E-posta': user.email,\n  'Rol': user.role,\n  'Telefon': user.phone || '-',\n  'Aktif': user.isActive ? 'Evet' : 'Hayır',\n  'Son Giriş': user.lastLogin ? new Date(user.lastLogin).toLocaleString('tr-TR') : 'Hiç giriş yapmadı',\n  'Kayıt Tarihi': user.createdAt ? new Date(user.createdAt).toLocaleString('tr-TR') : '-',\n  'İzinler': user.permissions?.join(', ') || '-',\n  'Etiketler': user.labels?.join(', ') || '-'\n}));\n\nreturn formatted.map(item => ({ json: item }));"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Veriyi Formatla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "kullanicilar_{{$now.format('YYYY-MM-DD_HHmm')}}.xlsx",
          "sheetName": "Kullanıcılar"
        }
      },
      "id": "d4e5f6a7-b8c9-0123-def0-123456789013",
      "name": "Excel Oluştur",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@kafkasder.org",
        "toEmail": "admin@kafkasder.org",
        "subject": "Kullanıcı Listesi - {{$now.format('DD/MM/YYYY HH:mm')}}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; }\n    .header { background-color: #4CAF50; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; }\n    .stats { background-color: #f1f1f1; padding: 15px; border-radius: 5px; margin: 20px 0; }\n    .footer { background-color: #333; color: white; padding: 10px; text-align: center; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>Kullanıcı Listesi Raporu</h2>\n  </div>\n  <div class=\"content\">\n    <p>Merhaba,</p>\n    <p>Sistemdeki kullanıcı listesi ekteki Excel dosyasında bulunmaktadır.</p>\n    \n    <div class=\"stats\">\n      <h3>İstatistikler</h3>\n      <p><strong>Toplam Kullanıcı:</strong> {{$json.stats.total}}</p>\n      <p><strong>Aktif Kullanıcı:</strong> {{$json.stats.active}}</p>\n      <p><strong>Pasif Kullanıcı:</strong> {{$json.stats.inactive}}</p>\n      <p><strong>Yönetici:</strong> {{$json.stats.admin}}</p>\n      <p><strong>Personel:</strong> {{$json.stats.staff}}</p>\n      <p><strong>Gönüllü:</strong> {{$json.stats.volunteer}}</p>\n    </div>\n    \n    <p>Rapor Tarihi: {{$now.format('DD/MM/YYYY HH:mm:ss')}}</p>\n  </div>\n  <div class=\"footer\">\n    <p>Bu rapor otomatik olarak n8n tarafından oluşturulmuştur.</p>\n    <p>Kafkasder Panel - Dernek Yönetim Sistemi</p>\n  </div>\n</body>\n</html>",
        "options": {
          "attachments": "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,={{$binary.data.data}}"
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-123456789014",
      "name": "Email Gönder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 300],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kullanıcı istatistiklerini hesapla\nconst users = $input.first().json.documents || [];\n\nconst stats = {\n  total: users.length,\n  active: users.filter(u => u.isActive).length,\n  inactive: users.filter(u => !u.isActive).length,\n  admin: users.filter(u => u.role === 'admin').length,\n  staff: users.filter(u => u.role === 'staff').length,\n  volunteer: users.filter(u => u.role === 'volunteer').length\n};\n\nreturn [{ json: { stats } }];"
      },
      "id": "f6a7b8c9-d0e1-2345-f012-123456789015",
      "name": "İstatistikleri Hesapla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 450]
    }
  ],
  "connections": {
    "Manuel Tetikleme": {
      "main": [
        [
          {
            "node": "Convex - Kullanıcı Listesi Al",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convex - Kullanıcı Listesi Al": {
      "main": [
        [
          {
            "node": "Veriyi Formatla",
            "type": "main",
            "index": 0
          },
          {
            "node": "İstatistikleri Hesapla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veriyi Formatla": {
      "main": [
        [
          {
            "node": "Excel Oluştur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel Oluştur": {
      "main": [
        [
          {
            "node": "Email Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "user-data-export",
  "meta": {
    "instanceId": "vmi2876541.contaboserver.net"
  },
  "tags": [
    {
      "name": "kullanıcılar",
      "id": "1"
    },
    {
      "name": "export",
      "id": "2"
    },
    {
      "name": "rapor",
      "id": "3"
    }
  ]
}
