n8n-workflows/2-donation-receipt-automation.json
{
  "name": "Bağış Makbuzu Otomasyonu",
  "nodes": [
    {
      "parameters": {
        "path": "donation-created",
        "options": {}
      },
      "id": "webhook-donation-1",
      "name": "Webhook - Yeni Bağış",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "donation-created-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Bağış verilerini doğrula ve formatla\nconst donation = $input.first().json;\n\n// Zorunlu alanları kontrol et\nif (!donation.donor_name || !donation.amount || !donation.receipt_number) {\n  throw new Error('Eksik bağış bilgisi');\n}\n\n// Para birimi formatla\nconst formatCurrency = (amount, currency) => {\n  const symbols = { TRY: '₺', USD: '$', EUR: '€' };\n  return `${amount.toLocaleString('tr-TR', { minimumFractionDigits: 2 })} ${symbols[currency] || currency}`;\n};\n\n// Tarih formatla\nconst formattedDate = new Date().toLocaleDateString('tr-TR', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\nreturn [{\n  json: {\n    ...donation,\n    formatted_amount: formatCurrency(donation.amount, donation.currency),\n    formatted_date: formattedDate,\n    is_large_donation: donation.amount >= 5000 && donation.currency === 'TRY',\n    receipt_url: `https://panel.kafkasder.org/receipts/${donation.receipt_number}`\n  }\n}];"
      },
      "id": "code-validate-1",
      "name": "Veri Doğrulama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// PDF makbuz içeriği oluştur\nconst data = $input.first().json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; }\n    .header { text-align: center; border-bottom: 3px solid #4CAF50; padding-bottom: 20px; }\n    .logo { font-size: 24px; color: #4CAF50; font-weight: bold; }\n    .receipt-title { font-size: 20px; margin-top: 10px; }\n    .content { margin-top: 30px; }\n    .row { display: flex; justify-content: space-between; margin: 10px 0; }\n    .label { font-weight: bold; color: #555; }\n    .value { color: #000; }\n    .amount-box { background-color: #f8f8f8; padding: 20px; text-align: center; margin: 30px 0; border: 2px solid #4CAF50; }\n    .amount { font-size: 32px; color: #4CAF50; font-weight: bold; }\n    .footer { margin-top: 50px; padding-top: 20px; border-top: 1px solid #ddd; text-align: center; font-size: 12px; color: #888; }\n    .qr-code { text-align: center; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <div class=\"logo\">🌙 KAFKASDER</div>\n    <div class=\"receipt-title\">BAĞIŞ MAKBUZU</div>\n    <div>Kafkas Kültür ve Dayanışma Derneği</div>\n  </div>\n  \n  <div class=\"content\">\n    <div class=\"row\">\n      <span class=\"label\">Makbuz No:</span>\n      <span class=\"value\">${data.receipt_number}</span>\n    </div>\n    <div class=\"row\">\n      <span class=\"label\">Tarih:</span>\n      <span class=\"value\">${data.formatted_date}</span>\n    </div>\n    <div class=\"row\">\n      <span class=\"label\">Bağışçı Adı:</span>\n      <span class=\"value\">${data.donor_name}</span>\n    </div>\n    <div class=\"row\">\n      <span class=\"label\">Telefon:</span>\n      <span class=\"value\">${data.donor_phone}</span>\n    </div>\n    ${data.donor_email ? `\n    <div class=\"row\">\n      <span class=\"label\">E-posta:</span>\n      <span class=\"value\">${data.donor_email}</span>\n    </div>\n    ` : ''}\n    <div class=\"row\">\n      <span class=\"label\">Bağış Türü:</span>\n      <span class=\"value\">${data.donation_type}</span>\n    </div>\n    <div class=\"row\">\n      <span class=\"label\">Bağış Amacı:</span>\n      <span class=\"value\">${data.donation_purpose}</span>\n    </div>\n    <div class=\"row\">\n      <span class=\"label\">Ödeme Yöntemi:</span>\n      <span class=\"value\">${data.payment_method}</span>\n    </div>\n    \n    <div class=\"amount-box\">\n      <div style=\"font-size: 14px; margin-bottom: 10px;\">BAĞIŞ MİKTARI</div>\n      <div class=\"amount\">${data.formatted_amount}</div>\n    </div>\n    \n    ${data.notes ? `\n    <div class=\"row\">\n      <span class=\"label\">Notlar:</span>\n      <span class=\"value\">${data.notes}</span>\n    </div>\n    ` : ''}\n    \n    <div class=\"qr-code\">\n      <p style=\"font-size: 12px; color: #888;\">Makbuzu doğrulamak için QR kodu tarayın</p>\n      <img src=\"https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${data.receipt_url}\" alt=\"QR Code\">\n    </div>\n  </div>\n  \n  <div class=\"footer\">\n    <p><strong>Allah razı olsun, bağışınız için teşekkür ederiz.</strong></p>\n    <p>Bu belge elektronik olarak oluşturulmuştur ve yasal bir makbuzdur.</p>\n    <p>Kafkasder - Kafkas Kültür ve Dayanışma Derneği</p>\n    <p>Adres: [Dernek Adresi] | Tel: [Telefon] | Web: www.kafkasder.org</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html, ...data } }];"
      },
      "id": "code-pdf-1",
      "name": "PDF İçerik Oluştur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "htmlToPdf",
        "html": "={{$json.html}}",
        "options": {
          "fileName": "bagis_makbuzu_{{$json.receipt_number}}.pdf",
          "margin": {
            "top": "20",
            "right": "20",
            "bottom": "20",
            "left": "20"
          },
          "format": "A4"
        }
      },
      "id": "pdf-convert-1",
      "name": "PDF Oluştur",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "bagis@kafkasder.org",
        "toEmail": "={{$json.donor_email}}",
        "subject": "Bağışınız İçin Teşekkürler - Makbuz",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; }\n    .header { background: linear-gradient(135deg, #4CAF50, #45a049); color: white; padding: 30px; text-align: center; }\n    .content { padding: 30px; }\n    .highlight { background-color: #f0f8f0; padding: 20px; border-left: 4px solid #4CAF50; margin: 20px 0; }\n    .footer { background-color: #f5f5f5; padding: 20px; text-align: center; font-size: 12px; color: #666; }\n    .button { background-color: #4CAF50; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🌙 KAFKASDER</h1>\n    <h2>Bağışınız İçin Teşekkür Ederiz</h2>\n  </div>\n  \n  <div class=\"content\">\n    <p>Sayın <strong>{{$json.donor_name}}</strong>,</p>\n    \n    <p>Allah razı olsun! <strong>{{$json.formatted_amount}}</strong> tutarındaki değerli bağışınız için içtenlikle teşekkür ederiz.</p>\n    \n    <div class=\"highlight\">\n      <h3>Bağış Detayları</h3>\n      <p><strong>Makbuz No:</strong> {{$json.receipt_number}}</p>\n      <p><strong>Tarih:</strong> {{$json.formatted_date}}</p>\n      <p><strong>Tutar:</strong> {{$json.formatted_amount}}</p>\n      <p><strong>Bağış Türü:</strong> {{$json.donation_type}}</p>\n      <p><strong>Amaç:</strong> {{$json.donation_purpose}}</p>\n    </div>\n    \n    <p>Bağışınız, ihtiyaç sahibi ailelere ulaşacak ve onların hayatlarına dokunacak. Bu güzel dayanışmanın bir parçası olduğunuz için size minnettarız.</p>\n    \n    <p>Ekteki PDF dosyasında bağış makbuzunuzu bulabilirsiniz. Bu makbuz yasal olarak geçerlidir ve vergi indirimi için kullanılabilir.</p>\n    \n    <a href=\"https://panel.kafkasder.org/receipts/{{$json.receipt_number}}\" class=\"button\">Makbuzu Online Görüntüle</a>\n    \n    <p>Hayırlı işlerinizin devamını dileriz.</p>\n    <p>Saygılarımızla,<br><strong>Kafkasder Ekibi</strong></p>\n  </div>\n  \n  <div class=\"footer\">\n    <p>Kafkas Kültür ve Dayanışma Derneği</p>\n    <p>Web: www.kafkasder.org | E-posta: info@kafkasder.org</p>\n    <p>Bu e-posta otomatik olarak gönderilmiştir.</p>\n  </div>\n</body>\n</html>",
        "options": {
          "attachments": "data:application/pdf;base64,={{$binary.data.data}}"
        }
      },
      "id": "email-send-1",
      "name": "Email Makbuz Gönder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 200],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_large_donation}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-large-1",
      "name": "Büyük Bağış Kontrolü",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "fromNumber": "={{$env.TWILIO_FROM_NUMBER}}",
        "toNumber": "={{$json.donor_phone}}",
        "message": "Sayın {{$json.donor_name}}, {{$json.formatted_amount}} tutarındaki değerli bağışınız için Allah razı olsun! Makbuz no: {{$json.receipt_number}}. Bağışınız ihtiyaç sahiplerine ulaşacak. Teşekkürler! - Kafkasder",
        "options": {}
      },
      "id": "sms-send-1",
      "name": "SMS Teşekkür Gönder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1250, 500],
      "credentials": {
        "twilioApi": {
          "id": "3",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_API_URL}}/donations/update-analytics",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convexApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donation_id\": \"{{$json._id}}\",\n  \"amount\": {{$json.amount}},\n  \"currency\": \"{{$json.currency}}\",\n  \"receipt_sent\": true,\n  \"timestamp\": \"{{$now.toISO()}}\"\n}",
        "options": {}
      },
      "id": "http-analytics-1",
      "name": "Analytics Güncelle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Convex API"
        }
      }
    },
    {
      "parameters": {
        "fromNumber": "={{$env.TWILIO_FROM_NUMBER}}",
        "toNumber": "={{$env.ADMIN_PHONE}}",
        "message": "🎉 BÜYÜK BAĞIŞ ALINDI!\n\nBağışçı: {{$json.donor_name}}\nTutar: {{$json.formatted_amount}}\nMakbuz: {{$json.receipt_number}}\n\nDetaylar için paneli kontrol edin.",
        "options": {}
      },
      "id": "sms-admin-1",
      "name": "Admin Bildirim SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1250, 600],
      "credentials": {
        "twilioApi": {
          "id": "3",
          "name": "Twilio"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Yeni Bağış": {
      "main": [
        [
          {
            "node": "Veri Doğrulama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veri Doğrulama": {
      "main": [
        [
          {
            "node": "PDF İçerik Oluştur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF İçerik Oluştur": {
      "main": [
        [
          {
            "node": "PDF Oluştur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Oluştur": {
      "main": [
        [
          {
            "node": "Email Makbuz Gönder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Büyük Bağış Kontrolü",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analytics Güncelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Büyük Bağış Kontrolü": {
      "main": [
        [
          {
            "node": "SMS Teşekkür Gönder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Admin Bildirim SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "donation-receipt-automation",
  "meta": {
    "instanceId": "vmi2876541.contaboserver.net"
  },
  "tags": [
    {
      "name": "bağış",
      "id": "4"
    },
    {
      "name": "makbuz",
      "id": "5"
    },
    {
      "name": "otomasyon",
      "id": "6"
    }
  ]
}
