n8n-workflows/4-error-monitoring-alerts.json
{
  "name": "Hata İzleme ve Alarm",
  "nodes": [
    {
      "parameters": {
        "path": "error-logged",
        "options": {}
      },
      "id": "webhook-error-1",
      "name": "Webhook - Hata Bildirimi",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "error-logged-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Hata verilerini işle ve kategorize et\nconst error = $input.first().json;\n\n// Severity kontrolü\nconst isCritical = ['critical', 'high'].includes(error.severity);\n\n// Kategori emoji eşleştirme\nconst categoryEmojis = {\n  'runtime': '⚠️',\n  'ui_ux': '🎨',\n  'design_bug': '🐛',\n  'system': '🖥️',\n  'data': '💾',\n  'security': '🔒',\n  'performance': '⚡',\n  'integration': '🔗'\n};\n\n// Severity renk ve emoji\nconst severityInfo = {\n  'critical': { emoji: '🔴', color: '#ff0000', priority: 'URGENT' },\n  'high': { emoji: '🟠', color: '#ff8800', priority: 'HIGH' },\n  'medium': { emoji: '🟡', color: '#ffaa00', priority: 'MEDIUM' },\n  'low': { emoji: '🟢', color: '#00ff00', priority: 'LOW' }\n};\n\nconst severity = severityInfo[error.severity] || severityInfo['medium'];\nconst categoryEmoji = categoryEmojis[error.category] || '❓';\n\n// Stack trace'i kısalt\nlet shortStack = error.stack_trace || 'N/A';\nif (shortStack.length > 500) {\n  shortStack = shortStack.substring(0, 500) + '...';\n}\n\nreturn [{\n  json: {\n    ...error,\n    is_critical: isCritical,\n    category_emoji: categoryEmoji,\n    severity_emoji: severity.emoji,\n    severity_color: severity.color,\n    priority: severity.priority,\n    short_stack: shortStack,\n    formatted_time: new Date().toLocaleString('tr-TR'),\n    error_url: `https://panel.kafkasder.org/errors/${error._id || error.error_code}`\n  }\n}];"
      },
      "id": "code-process-error-1",
      "name": "Hata Verilerini İşle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_critical}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-critical-1",
      "name": "Kritik Hata mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromNumber": "={{$env.TWILIO_FROM_NUMBER}}",
        "toNumber": "={{$env.ADMIN_PHONE}}",
        "message": "{{$json.severity_emoji}} KRİTİK HATA!\n\n{{$json.category_emoji}} {{$json.title}}\n\nKategori: {{$json.category}}\nÖncelik: {{$json.priority}}\n\n{{$json.description}}\n\nDetaylar: {{$json.error_url}}\n\nZaman: {{$json.formatted_time}}",
        "options": {}
      },
      "id": "sms-admin-critical-1",
      "name": "Admin'e Acil SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "twilioApi": {
          "id": "3",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alerts@kafkasder.org",
        "toEmail": "={{$env.ADMIN_EMAIL}}",
        "cc": "={{$env.DEV_EMAIL}}",
        "subject": "{{$json.severity_emoji}} {{$json.priority}} - {{$json.title}}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Courier New', monospace; margin: 0; padding: 0; background-color: #1e1e1e; color: #d4d4d4; }\n    .container { max-width: 800px; margin: 0 auto; background-color: #252526; }\n    .header { background-color: {{$json.severity_color}}; color: white; padding: 20px; text-align: center; }\n    .badge { display: inline-block; padding: 5px 15px; background-color: rgba(255,255,255,0.2); border-radius: 15px; font-size: 12px; margin: 5px; }\n    .content { padding: 30px; }\n    .error-box { background-color: #1e1e1e; border-left: 4px solid {{$json.severity_color}}; padding: 20px; margin: 20px 0; }\n    .label { color: #9cdcfe; font-weight: bold; }\n    .value { color: #ce9178; }\n    .stack-trace { background-color: #0d0d0d; padding: 15px; border: 1px solid #444; border-radius: 5px; overflow-x: auto; font-size: 12px; line-height: 1.5; }\n    .button { display: inline-block; background-color: {{$json.severity_color}}; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin: 20px 0; }\n    .footer { background-color: #1e1e1e; padding: 20px; text-align: center; font-size: 12px; color: #888; }\n    .context { background-color: #2d2d30; padding: 15px; border-radius: 5px; margin: 15px 0; }\n    table { width: 100%; border-collapse: collapse; margin: 15px 0; }\n    td { padding: 8px; border-bottom: 1px solid #3e3e42; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>{{$json.severity_emoji}} {{$json.category_emoji}} HATA ALARMI</h1>\n      <div>\n        <span class=\"badge\">{{$json.priority}}</span>\n        <span class=\"badge\">{{$json.category}}</span>\n        <span class=\"badge\">{{$json.severity}}</span>\n      </div>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"error-box\">\n        <h2 style=\"margin-top: 0; color: {{$json.severity_color}};\">{{$json.title}}</h2>\n        <p><strong>Error Code:</strong> <code>{{$json.error_code}}</code></p>\n        <p>{{$json.description}}</p>\n      </div>\n      \n      <div class=\"context\">\n        <h3>📊 Hata Detayları</h3>\n        <table>\n          <tr>\n            <td class=\"label\">Kategori:</td>\n            <td class=\"value\">{{$json.category_emoji}} {{$json.category}}</td>\n          </tr>\n          <tr>\n            <td class=\"label\">Öncelik:</td>\n            <td class=\"value\">{{$json.priority}}</td>\n          </tr>\n          <tr>\n            <td class=\"label\">Durum:</td>\n            <td class=\"value\">{{$json.status}}</td>\n          </tr>\n          <tr>\n            <td class=\"label\">Oluşma Sayısı:</td>\n            <td class=\"value\">{{$json.occurrence_count || 1}}</td>\n          </tr>\n          <tr>\n            <td class=\"label\">İlk Görülme:</td>\n            <td class=\"value\">{{$json.first_seen || $json.formatted_time}}</td>\n          </tr>\n          <tr>\n            <td class=\"label\">Son Görülme:</td>\n            <td class=\"value\">{{$json.formatted_time}}</td>\n          </tr>\n          {{#if $json.url}}\n          <tr>\n            <td class=\"label\">URL:</td>\n            <td class=\"value\">{{$json.url}}</td>\n          </tr>\n          {{/if}}\n          {{#if $json.component}}\n          <tr>\n            <td class=\"label\">Component:</td>\n            <td class=\"value\">{{$json.component}}</td>\n          </tr>\n          {{/if}}\n          {{#if $json.function_name}}\n          <tr>\n            <td class=\"label\">Function:</td>\n            <td class=\"value\">{{$json.function_name}}</td>\n          </tr>\n          {{/if}}\n        </table>\n      </div>\n      \n      {{#if $json.error_context}}\n      <div class=\"context\">\n        <h3>🔍 Context</h3>\n        <pre style=\"overflow-x: auto; color: #ce9178;\">{{JSON.stringify($json.error_context, null, 2)}}</pre>\n      </div>\n      {{/if}}\n      \n      {{#if $json.short_stack}}\n      <div class=\"context\">\n        <h3>📜 Stack Trace</h3>\n        <div class=\"stack-trace\">\n          <pre>{{$json.short_stack}}</pre>\n        </div>\n      </div>\n      {{/if}}\n      \n      {{#if $json.device_info}}\n      <div class=\"context\">\n        <h3>💻 Device Info</h3>\n        <pre style=\"overflow-x: auto; color: #ce9178;\">{{JSON.stringify($json.device_info, null, 2)}}</pre>\n      </div>\n      {{/if}}\n      \n      <a href=\"{{$json.error_url}}\" class=\"button\">Hatayı Panel'de Görüntüle</a>\n      \n      {{#if $json.sentry_event_id}}\n      <a href=\"https://sentry.io/organizations/kafkasder/issues/?query={{$json.sentry_event_id}}\" class=\"button\" style=\"background-color: #362d59;\">Sentry'de Görüntüle</a>\n      {{/if}}\n    </div>\n    \n    <div class=\"footer\">\n      <p>⚡ n8n Hata İzleme Sistemi</p>\n      <p>Kafkasder Panel - Dernek Yönetim Sistemi</p>\n      <p>Bu e-posta otomatik olarak oluşturulmuştur.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-detailed-1",
      "name": "Detaylı Email Gönder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.sentry_event_id}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-sentry-1",
      "name": "Sentry Event Var mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "url": "https://sentry.io/api/0/projects/{{$env.SENTRY_ORG}}/{{$env.SENTRY_PROJECT}}/events/{{$json.sentry_event_id}}/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sentryApi",
        "options": {}
      },
      "id": "http-sentry-1",
      "name": "Sentry Event Detayları",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 550],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "Sentry API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_API_URL}}/errors/update-occurrence",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convexApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"error_id\": \"{{$json._id || $json.error_code}}\",\n  \"occurrence_count\": {{$json.occurrence_count + 1 || 1}},\n  \"last_seen\": \"{{$now.toISO()}}\",\n  \"alert_sent\": true,\n  \"alert_sent_at\": \"{{$now.toISO()}}\"\n}",
        "options": {}
      },
      "id": "http-update-error-1",
      "name": "Hata Kaydını Güncelle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Convex API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_API_URL}}/system_alerts/create",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convexApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert_type\": \"error\",\n  \"severity\": \"{{$json.severity}}\",\n  \"title\": \"{{$json.title}}\",\n  \"description\": \"{{$json.description}}\",\n  \"metadata\": {\n    \"error_code\": \"{{$json.error_code}}\",\n    \"category\": \"{{$json.category}}\",\n    \"url\": \"{{$json.url}}\",\n    \"component\": \"{{$json.component}}\"\n  },\n  \"created_at\": \"{{$now.toISO()}}\",\n  \"acknowledged\": false,\n  \"resolved\": false\n}",
        "options": {}
      },
      "id": "http-create-alert-1",
      "name": "System Alert Oluştur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Convex API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/{{$env.SLACK_WEBHOOK_PATH}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{$json.severity_emoji}} *{{$json.priority}} HATA*\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{$json.severity_emoji}} {{$json.title}}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Kategori:*\\n{{$json.category_emoji}} {{$json.category}}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Öncelik:*\\n{{$json.priority}}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Error Code:*\\n`{{$json.error_code}}`\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Zaman:*\\n{{$json.formatted_time}}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{$json.description}}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Panel'de Görüntüle\"\n          },\n          \"url\": \"{{$json.error_url}}\",\n          \"style\": \"danger\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-slack-1",
      "name": "Slack Bildirimi (Opsiyonel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 600]
    }
  ],
  "connections": {
    "Webhook - Hata Bildirimi": {
      "main": [
        [
          {
            "node": "Hata Verilerini İşle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hata Verilerini İşle": {
      "main": [
        [
          {
            "node": "Kritik Hata mı?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kritik Hata mı?": {
      "main": [
        [
          {
            "node": "Admin'e Acil SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detaylı Email Gönder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentry Event Var mı?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Bildirimi (Opsiyonel)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detaylı Email Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detaylı Email Gönder": {
      "main": [
        [
          {
            "node": "Hata Kaydını Güncelle",
            "type": "main",
            "index": 0
          },
          {
            "node": "System Alert Oluştur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry Event Var mı?": {
      "main": [
        [
          {
            "node": "Sentry Event Detayları",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "error-monitoring-alerts",
  "meta": {
    "instanceId": "vmi2876541.contaboserver.net"
  },
  "tags": [
    {
      "name": "hata",
      "id": "10"
    },
    {
      "name": "alarm",
      "id": "11"
    },
    {
      "name": "monitoring",
      "id": "12"
    }
  ]
}
